## Natural Language Processing

Yelp Review Analysis: In this project I am trying to classify the review data based on their stars. I am using Yelp Review data set from Kaggle. Each data set is review of particular business by particular user. Star rating is 1 through 5 but I used data having star 1 and 5 only.

In [154]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [156]:
# Load data
review_data = pd.read_csv('yelp.csv')

In [157]:
review_data.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [158]:
yelp_class = review_data[(review_data.stars==1) | (review_data.stars==5)]

In [161]:
yelp_class.head(20)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,Drop what you're doing and drive here. After I...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4
9,nMHhuYan8e3cONo3PornJA,2010-08-11,jJAIXA46pU1swYyRCdfXtQ,5,Nobuo shows his unique talents with everything...,review,sUNkXg8-KFtCMQDV6zRzQg,0,1,0
10,AsSCv0q_BWqIe3mX2JqsOQ,2010-06-16,E11jzpKz9Kw5K7fuARWfRw,5,The oldish man who owns the store is as sweet ...,review,-OMlS6yWkYjVldNhC31wYg,1,3,1
11,e9nN4XxjdHj4qtKCOPq_vg,2011-10-21,3rPt0LxF7rgmEUrznoH22w,5,Wonderful Vietnamese sandwich shoppe. Their ba...,review,C1rHp3dmepNea7XiouwB6Q,1,1,0
12,h53YuCiIDfEFSJCQpk8v1g,2010-01-11,cGnKNX3I9rthE0-TH24-qA,5,They have a limited time thing going on right ...,review,UPtysDF6cUDUxq2KY-6Dcg,1,2,0
17,O510Re68mOy9dU490JTKCg,2010-05-03,j4SIzrIy0WrmW4yr4--Khg,5,okay this is the best place EVER! i grew up sh...,review,u1KWcbPMvXFEEYkZZ0Yktg,0,0,0
21,tdcjXyFLMKAsvRhURNOkCg,2011-06-28,LmuKVFh03Uz318VKnUWrxA,5,This place shouldn't even be reviewed - becaus...,review,YN3ZLOdg8kpnfbVcIhuEZA,1,1,2
22,eFA9dqXT5EA_TrMgbo03QQ,2011-07-13,CQYc8hgKxV4enApDkx0IhA,5,first time my friend and I went there... it wa...,review,6lg55RIP23VhjYEBXJ8Njw,0,0,0
23,IJ0o6b8bJFAbG6MjGfBebQ,2010-09-05,Dx9sfFU6Zn0GYOckijom-g,1,U can go there n check the car out. If u wanna...,review,zRlQEDYd_HKp0VS3hnAffA,0,1,1
24,JhupPnWfNlMJivnWB5druA,2011-05-22,cFtQnKzn2VDpBedy_TxlvA,5,I love this place! I have been coming here for...,review,13xj6FSvYO0rZVRv5XZp4w,0,1,0
26,qjmCVYkwP-HDa35jwYucbQ,2013-01-03,kZ4TzrVX6qeF0OvrVTGVEw,5,I love love LOVE this place. My boss (who is i...,review,fpItLlgimq0nRltWOkuJJw,0,0,0
30,V1nEpIRmEa1768oj_tuxeQ,2011-05-09,dtpJXC5p_sdWDLSobluJ3Q,5,"Disclaimer: Like many of you, I am a sucker fo...",review,bCKjygWJZOQHCOzootbvow,0,2,0
31,vvA3fbps4F9nGlAEYKk_sA,2012-05-04,S9OVpXat8k5YwWCn6FAgXg,1,Disgusting! Had a Groupon so my daughter and ...,review,8AMn6644NmBf96xGO3w6OA,0,1,0
32,rxQ2PIjhAx6dgAqUalf99Q,2012-09-09,-v-shjbxoj7hpU62yn6vag,5,Never having dealt with a Discount Tire in Pho...,review,HLbhD2OyiMCUDRR4c1iXaw,0,0,0
35,o1GIYYZJjM6nM03fQs_uEQ,2011-11-30,ApKbwpYJdnhhgP4NbjQw2Q,1,"I've eaten here many times, but none as bad as...",review,iwUN95LIaEr75TZE_JC6bg,0,4,3
46,aRkYtXfmEKYG-eTDf_qUsw,2009-04-04,Ckk1Cne1GHwzmJfo7M4r2w,5,"(Un)fortunately for me, lux is close to my hou...",review,IUWjTmXc3wLVaMHz33inaA,2,1,1

In [162]:
# First step: Cleaning text data
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [177]:
text_data = yelp_class[['text', 'stars']]

In [178]:
text_data.head()

                                                text  stars
0  My wife took me here on my birthday for breakf...      5
1  I have no idea why some people give bad review...      5
3  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5
4  General Manager Scott Petello is a good egg!!!...      5
6  Drop what you're doing and drive here. After I...      5

In [182]:
text_data.to_csv('yelp_text.csv', index=False, sep = '\t')

In [183]:
dataset = pd.read_csv('yelp_text.csv', sep = '\t')

In [184]:
dataset.head()

                                                text  stars
0  My wife took me here on my birthday for breakf...      5
1  I have no idea why some people give bad review...      5
2  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5
3  General Manager Scott Petello is a good egg!!!...      5
4  Drop what you're doing and drive here. After I...      5

In [194]:
dataset.tail()

                                                   text  stars
4081  Yes I do rock the hipster joints.  I dig this ...      5
4082  Only 4 stars? \n\n(A few notes: The folks that...      5
4083  I'm not normally one to jump at reviewing a ch...      5
4084  Let's see...what is there NOT to like about Su...      5
4085  4-5 locations.. all 4.5 star average.. I think...      5

In [195]:
# lets clean the data:
# remove punctuations, symbols, numbers etc
# remove stopwords such as a, the, in etc.
corpus = []
for i in range(0,4086):
    clean_data = re.sub('[^a-zA-Z]', ' ', dataset['text'][i])
    clean_data = clean_data.lower()
    clean_data = clean_data.split()
    ps = PorterStemmer()
    clean_data = [ps.stem(word) for word in clean_data if not word in set(stopwords.words('english'))]
    clean_data = ' '.join(clean_data)
    corpus.append(clean_data)

In [196]:
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500)
X = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, 1].values

In [197]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [198]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [199]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [200]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, classification_report
cm = confusion_matrix(y_test, y_pred)
cr = classification_report(y_test, y_pred)

In [201]:
print(cm)

[[124  24]
 [ 32 638]]

In [202]:
print(cr)

             precision    recall  f1-score   support

          1       0.79      0.84      0.82       148
          5       0.96      0.95      0.96       670

avg / total       0.93      0.93      0.93       818